xsd/reportview/reportview.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="result">
    <xs:annotation>
      <xs:documentation>The container element for the report results.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="errorCategory" minOccurs="0">
          <xs:annotation>
            <xs:documentation>The results are grouped by rule/constraint that was broken. Each
              ErrorCategory represents one constraint that was broken. If a constraint was broken
              mutiple times these errors are always listed under the same
              ErrorCategory.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="errorCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="constraintID"/>
        <xs:element ref="title">
          <xs:annotation>
            <xs:documentation>The title of the constraint.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="shortUserDesc">
          <xs:annotation>
            <xs:documentation>A short user friendly description of the
              constraint.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="longUserDesc" minOccurs="0">
          <xs:annotation>
            <xs:documentation>A longer description of the constraint.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="specs">
          <xs:annotation>
            <xs:documentation>One constraint can be documented by more than one specification or in
              the the specification more than once.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="errors">
          <xs:annotation>
            <xs:documentation>Container for the different "concrete" errors that broke the
              rule.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="tags" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Tags for the constraints.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="constraintID" type="xs:ID">
    <xs:annotation>
      <xs:documentation>This ID is unique for all used constraints. It is generated by the
        generate-id() XPath function on the basis of the constraint XML in the constraint document.
        The type complies with the XML Schema type "xs:id". The value has no meaning and there is no
        implied order in the ID value. The sole purpose of the constraint ID to be used as an
        identifier.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="title" type="xs:string"/>

  <xs:element name="shortUserDesc" type="xs:string"/>

  <xs:element name="longUserDesc" type="xs:string"/>

  <xs:element name="specs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="spec">
          <xs:annotation>
            <xs:documentation>One specification reference for a constraint.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="spec">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name">
          <xs:annotation>
            <xs:documentation>The full name of the specification.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="nameAcronym">
          <xs:annotation>
            <xs:documentation>The acronym for the specification (e.g. TTML for Timed Text Markup
              Language).</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="text" minOccurs="0">
          <xs:annotation>
            <xs:documentation>The text of the specification that describes the
              constraint.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="errorLevel">
          <xs:annotation>
            <xs:documentation>The type of error as defined by the specification (e.g. Fatal, Error,
              Warning).</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="section" minOccurs="0">
          <xs:annotation>
            <xs:documentation>The section in the specification where the constraint is documented.
              This could be for example a string like "Chapter 3.1". If "Chapter" or "Section" (or
              something different is used) depends on the terms in the specification. This field
              should not be used for page numbers (they are documented in a different element). If
              no chapter number is available a section title could also be used. </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="uri" minOccurs="0">
          <xs:annotation>
            <xs:documentation>If available a resolvable URI/URL for the spec.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="name" type="xs:string"/>

  <xs:element name="nameAcronym" type="xs:string"/>

  <xs:element name="text" type="xs:string"/>

  <xs:element name="section" type="xs:string"/>

  <xs:element name="uri" type="xs:anyURI"/>

  <xs:element name="errors">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="error">
          <xs:annotation>
            <xs:documentation>For each broken rule in the document there is one error
              element.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="error">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="messages">
          <xs:annotation>
            <xs:documentation>Wrapper for different kind of information.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" ref="locations">
          <xs:annotation>
            <xs:documentation>If more detailed information about the location of the error is
              present, this element is the wrapper for different type of "location"
              information.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="errorLevel" type="xs:string"/>

  <xs:element name="tags">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="tag">
          <xs:annotation>
            <xs:documentation>One tag that applies to the rule/constraint.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="shortDesc">
                <xs:annotation>
                  <xs:documentation>A shorter, "label" like description of the
                    tag.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="longDesc">
                <xs:annotation>
                  <xs:documentation>A longer description of the tag.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="descText">
                <xs:annotation>
                  <xs:documentation>A description text of the tag. While the fields shortDesc and
                    longDesc are intended to be displayed labels, this field contains prose text to
                    describe the tag in more detail.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="type" use="required">
              <xs:annotation>
                <xs:documentation>The type of a tag enables the user of the tag to group certain
                  tags in categories like "timing", "styling" or "spec
                  signalling".</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="locations">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="location">
          <xs:annotation>
            <xs:documentation>There can be different type of locations. Currently there is one XPath
              location info that can be directly used to get the information from the document. But
              there can also be a more human readable XPath type.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="location">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="locationType" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="resolvableXPATH"/>
                <xs:enumeration value="humanXPATH"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="messages">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="messageMain">
          <xs:annotation>
            <xs:documentation>The main message that is provided for each error.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" ref="messageAssertion">
          <xs:annotation>
            <xs:documentation>The assertion that was checked and failed.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" ref="messageDiagnosticsAll">
          <xs:annotation>
            <xs:documentation>Most of the Error Checks gather some information additional
              information about the cause of the error (e.g. the wrong value or the prohibted
              vocabulary). This information is concatenated in this message. The message always
              contain complete sentences (and not just data).</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="messageMain" type="xs:string"/>

  <xs:element name="messageAssertion" type="xs:string"/>

  <xs:element name="messageDiagnosticsAll" type="xs:string"/>
</xs:schema>
